@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Gilroy';
}

     
     
     
     
     
     
.background{
    background: linear-gradient(to right, #11998e, #38ef7d);


     }
     @media (max-width: 768px) {
        .responsive-image {
          width: 60%; /* Adjust size for tablets */
        }
      }
      
      /* Responsive for mobile */
      @media (max-width: 480px) {
        .responsive-image {
          width: 100%; /* Adjust size for smaller mobile screens */
        }
      }
     
     
     
     
 
 
 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 