@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Gilroy';
}

     
     
     
     
     
     
.background{
    background: linear-gradient(to right, #11998e, #38ef7d);


     }
     @media (max-width: 768px) {
        .responsive-image {
          width: 60%; /* Adjust size for tablets */
        }
      }
      
      /* Responsive for mobile */
      @media (max-width: 480px) {
        .responsive-image {
          width: 100%; /* Adjust size for smaller mobile screens */
        }
      }
      .custom-video::-webkit-media-controls-download-button {
        display: none !important;
      }
      
      .custom-video::-webkit-media-controls-fullscreen-button {
        display: none !important;
      }
      
      .custom-video::-webkit-media-controls-volume-slider {
        display: none !important;
      }
      
     
     /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

     
 
 
 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 